.close-button {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  margin-bottom: 15px;
}

.close-button:focus:not(:focus-visible) {
  outline: none;
}

.close-button_mobile {
  z-index: 1001;
}
.close-button_mobile svg {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 650px) {
  .close-button {
    margin-right: 21px;
    padding-right: 0;
  }
}
