.button__close {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  margin-bottom: 15px;
}

.button__close:focus:not(:focus-visible) {
  outline: none;
}

.button__close-img {
  content: url(../../images/close.svg);
}

.button__close_mobile {
  z-index: 1001;
}

@media screen and (max-width: 650px) {
  .button__close {
    margin-right: 21px;
    padding-right: 0;
  }

  .button__close-img {
    content: url(../../images/closesmall.png);
  }
}
