.close-button {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  margin-bottom: 15px;
}

.close-button:focus:not(:focus-visible) {
  outline: none;
}

.close-button__img {
  content: url(../../images/close.svg);
}

.close-button_mobile {
  z-index: 1001;
}

@media screen and (max-width: 650px) {
  .close-button {
    margin-right: 21px;
    padding-right: 0;
  }

  .close-button__img {
    content: url(../../images/closecloseSmallV.svg);
  }
}
