.about {
  display: flex;
  margin: 80px 104px;
}

.about__container {
  max-width: 600px;
  text-align: left;
  margin-left: 56px;
}

.about__title {
  font-family: 'Roboto Slab';
  font-weight: 400;
  margin-top: 45px;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 1.15;
}

.about__paragraph {
  font-size: 18px;
  line-height: 1.33;
}
