.signup-form {
  width: 430px;
  height: 458px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.signup-form__title {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 900;
  margin: 34px 0 22px 36px;
}

.signup-form__label {
  color: #2f71e5;
  font-size: 12px;
  line-height: 1.25;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-left: 36px;
}

.signup-form__input {
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0 0 36px;
  padding: 9px 0 10px 5px;
}

.signup-form__input:focus {
  outline: none;
  box-shadow: 0px 0px 2px 1px #2f71e5;
}

.signup-form__input-error {
  color: red;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  height: 31px;
  margin: 3px 0 0 36px;
}

.signup-form__button-signup {
  background-color: #2f71e5;
  height: 64px;
  width: 360px;
  border-radius: 100px;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  border: none;
  margin: 8px 36px 16px 36px;
}

.signup-form__button-signup:hover {
  background-color: #347eff;
  transition: ease-in-out 0.2s;
}

.signup-form__button-signup:active {
  background-color: #2a65cc;
}

.signup-form__button-signup_disabled {
  background-color: #e6e8eb;
  height: 64px;
  width: 360px;
  border-radius: 100px;
  color: #b6bcbf;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  border: none;
  margin: 8px 36px 16px 36px;
}

.signup-form__button-signin {
  border: none;
  background-color: white;
}

.signup-form__span {
  color: #2f71e5;
}

.signup-form__span:hover {
  opacity: 0.8;
}

.signup-form__button-signin:focus:not(:focus-visible),
.signup-form__button-signup:focus:not(:focus-visible) {
  outline: none;
}

@media screen and (max-width: 500px) {
  .signup-form {
    width: 320px;
    height: 560px;
    border-radius: 16px 16px 0 0;
  }

  .signup-form__title {
    margin: 16px 0 17px 17px;
  }

  .signup-form__label {
    margin-left: 16px;
  }

  .signup-form__input {
    width: 288px;
    margin: 0 0 0 16px;
    padding-left: 0;
  }

  .signup-form__input-error {
    margin-left: 16px;
  }

  .signup-form__button-signup {
    width: 288px;
    margin: 0 16px 16px 16px;
  }

  .signup-form__button-signup_disabled {
    width: 288px;
    margin: 0 16px 16px 16px;
  }
}
