.form {
  position: relative;
  display: inline-block;
}

.form__input {
  width: 582px;
  height: 62px;
  border-radius: 100px;
  border: 1px solid #d1d2d6;
  padding: 0 0 0 24px;
  margin: 0;
  font-size: 16px;
}

.form__button {
  position: absolute;
  background-color: #2f71e5;
  color: white;
  right: 0;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  border: none;
  width: 168px;
  height: 64px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
}
