.newscardlist {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 22.5px;
  padding: 0;
  align-self: center;
  justify-content: center;
}

@media screen and (max-width: 1439px) {
  .newscardlist {
    max-width: 1280px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1278px) {
  .newscardlist {
    max-width: 830px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 911px) {
  .newscardlist {
    max-width: 768px;
    gap: 8px;
    margin: 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .newscardlist {
    max-width: 470px;
  }
}

@media screen and (max-width: 536px) {
  .newscardlist {
    max-width: 295px;
  }
}

@media screen and (max-width: 320px) {
  .newscardlist {
    gap: 10px;
    margin: 0 16px;
  }
}
