.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  display: flex;
  justify-content: center;
}

.popup__open {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  width: 467px;
}

@media screen and (max-width: 650px) {
  .popup {
    background-color: black;
  }

  .popup__container {
    margin-top: 10px;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .popup__container {
    width: 350px;
  }
}
